.progress-bar {
	height: 20px;
	width: 350px;
	margin-top: 20px;
	border-radius: 50px;
	border: 2px solid #000;
}

.progress-container {
	display: flex;
	flex-direction: column;
 	width: 100%;
 	justify-content: center;
 	align-items: center;
}

.range {
 	height: 100%;
 	border-radius: inherit;
	transition: width .3s ease-in;
	background: #050d55;
}